@font-face {
  font-family: "Futura-Pt";
  src: url("../Fonts/FuturaStd-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura-Pt";
  src: url("../Fonts/FuturaStd-Medium.otf") format("opentype");
  font-weight: medium;
  font-style: medium;
}
@font-face {
  font-family: "Futura-Pt";
  src: url("../Fonts/FuturaStd-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: bold;
}
html {
  scroll-behavior: smooth;
}
* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}
body {
  font-family: "Futura-Pt", sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* font-family: Cera Pro, sans-serif; */
}
.dropdown-toggle::after{
  color: #00aeef !important;
}
.hero-video {
  height: 95vh;
  overflow: hidden;
}
.navbarIcons {
  display: none;
}
.dropdown-menu[data-bs-popper]{
  left: -66px;
}

/* ########## burger checkbox ################# */
.burger {
  position: relative;
  width: 25px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
  border: none;
}

.burger .burgerinput {
  display: none;
}

.burger .spanburger {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgba(0, 0, 0, 1);

  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background-color: rgba(0, 0, 0, 1);
}
.burger .middlespan {
  width: 60%;
  text-align: right;
}

.burger .spanburger:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger .spanburger:nth-of-type(2) {
  top: 50%;
  transform: translate(64%, -45%);
  transform-origin: left center;
}

.burger .spanburger:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger .burgerinput:checked ~ .spanburger:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger .burgerinput:checked ~ .spanburger:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger .burgerinput:checked ~ .spanburger:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 18px;
  left: 5px;
}


/* ########## End burger checkbox ################# */

/* Search Button in Navbar */
.search-container {
  position: relative;
  display: inline-block;
  margin: 4px 2px 0px 0px;
  height: 40px;
  width: 40px;
  vertical-align: bottom;
}
.mglass {
  display: inline-block;
  pointer-events: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.searchbutton {
  position: absolute;
  font-size: 22px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.search:focus + .searchbutton {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: white;
  color: black;
}

.search {
  position: absolute;
  left: 60px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
  background-color: white;
  top: 48px;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.search:focus {
  width: 363px; /* Bar width+1px */
  padding: 0 19px 0 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.433);
}

.expandright {
  left: auto;
  right: 30px; /* Button width-1px */
}

.expandright:focus {
  padding: 0 0 0 16px;
}
/* End of Search Button In Navbar */

@media (min-width: 1440px) {
  .container {
    max-width: 1370px !important;
  }
}

.section3 {
  background-image: url(../img/section3Back\ 5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position:relative;  
  margin-top: -175px;

}
.content-left-head {
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: #000000;
  /* margin-bottom: 0px; */
  text-align: center;
}
.content-left-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: rgba(0, 174, 239, 1);
  margin-bottom: 0px;
  text-align: center;
}

.section4 {
  margin-top: 200px;
}
.image {
  background-image: url(../img/section4newimage1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 383px;
}
.card-body{
  padding: 30px 0px 0px 30px;
}
.section4-image-text {
  padding: 20px;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
}
.section4-image-link {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-decoration: none;
  color: rgba(0, 174, 239, 1);
  border-bottom: 2px solid rgba(0, 174, 239, 1);
  overflow: hidden;
}
.section4-image-link:hover {
  color: white;
  border-bottom: 2px solid white;
}
.section4image1 {
  background-image: url(../img/section4newimage2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 383px;
}
.section4image2 {
  background-image: url(../img/section4newimage3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 383px;
  /* height: 150px; */
}
.section4image3 {
  background-image: url(../img/section4newimage4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 383px;
  /* height: 150px; */
}
.card {
  border: none !important;
  border-radius: 2px;
}
.text-bottom{
  border-left: 3px solid rgba(0, 174, 239, 1);
  padding-left: 10px;
  /* margin-top: 5px; */
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 1);
}

.text-bottom-no{
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 1);

}
 
/* for small text */
.text-bottom1{
  margin-top: 20px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 1);
}

.text-bottom-no1{
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 1);

}
/* End for small */

.section5{
  margin-top: 200px;
}
.section5-head {
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(0, 0, 0, 1);

  /* margin-bottom: 0px; */
}
.section5-head-link {
  padding-top: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 174, 239, 1);
  border-bottom: 2px solid rgba(0, 174, 239, 1);
}
.section5-head-link:hover {
  color: black;
  border-bottom: 2px solid black;
}
.foodslider {
  width: 25.66% !important;
  margin-right: 10px;
  height: auto !important;
}
.flickity-prev-next-button.next {
  display: none !important;
}
.flickity-prev-next-button .flickity-button-icon {
  display: none !important;
}
.flickity-prev-next-button.previous {
  display: none !important;
}
.flickity-page-dots{
  bottom: 0;
}
.flickity-page-dots .dot{
 background-color: #00aeef;
}
.slider-bottom-text{
  margin-top: 100px;
}
.moreInfobtn {
  padding: 15px 60px;
  border-radius: 1px;
  border: 1px solid #00aeef;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #00aeef;
  text-align: center;

}
.moreInfobtn:hover {
  color: #000000;
  border: 1px solid #00aeef;
  background-color: #00aeef;
} 


/* Footer Section */
#footer {
  background-color: rgba(58, 58, 58, 1);
  margin-top: 170px;
}
.footer-row {
  padding-top: 140px;
  padding-bottom: 160px;
}
.quick-links {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: rgba(0, 174, 239, 1);

}
.a-color {
 color: rgba(255, 255, 255, 1);

  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;

}

.a-color:hover {
  color: #00aeef;
}
.SocialIcons{
  margin-top: 150px;
}

#footer-form {
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;
  /* This bit draws the box around it */
  border: 1px solid rgba(255, 255, 255, 1);
  /* I've used padding so you can see the edges of the elements. */
  padding: 2px;
  border-radius: 2px;
  margin-top: 60px;
}

.form-control {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  background-color: transparent;
  padding: 15px 0px 15px 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 2px;
}

/* remove the input focus blue box, it will be in the wrong place. */
.form-control:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}


.subscrbebtn {
  /* Just a little styling to make it pretty */
  border: none;
  background-color: rgba(0, 174, 239, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  padding: 15px 40px;
  border: 1px solid rgba(0, 174, 239, 1);
  border-radius: 2px;
}
.subscrbebtn:hover {
  background-color: transparent;
 border: 1px solid rgba(255, 255, 255, 1);
 color: rgba(255, 255, 255, 1);
}

.icons {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(58, 58, 58, 1);
  text-align: center;
  width: 23px;
  margin-bottom: 0px;
  border-radius: 2px;
}
.icons:hover {
  cursor: pointer;
  color: white;
  background-color: #00aeef;
}
.links {
  margin-bottom: 0px;
}


.footer-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
  color:rgba(255, 255, 255, 1);

}
/* End of Footer Section */

.dropdown-head {
  font-size: 26px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid #00aeef;
}
.largenoneslider {
  display: none !important;
}
.forlargescreennone {
  display: none !important;
}
.forlargenoneform {
  display: block !important;
}

@media all and (min-width: 992px) {
  .dropdown-menu {
    width: 13rem;
  }
  .mega-submenu {
    left: 100%;
    top: 0;
    min-width: 25rem;
  }
  .ktm-mega-menu {
    position: static;
  }
  .mega-menu {
    left: 0;
    right: 0;
    width: 100%;
  }
  .dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .submenu {
    display: none;
    left: 100%;
    top: 0;
  }
 
}

.image-bottom {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);

}
.image-bottom-no {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);

}
.forslider2headnoneinsamll {
  display: none !important;
}
.footer-form-small{
  display: none !important;
}
@media (min-width: 0px) and (max-width: 320.98px) {
  .quick-links{
    color: rgba(0, 0, 0, 1);
  }
   .bottomslider{
    padding-top: 0px !important;
  }
    .footer-text {
    color: rgba(0, 0, 0, 1) !important;
  }
  .a-color {
    color: rgba(0, 0, 0, 1) !important;
  }
  .navbarlink {
    color: rgba(0, 0, 0, 1) !important;
    padding-bottom: 20px;
  }
  .sliderandtext {
    padding-top: 0px !important;
    flex-direction: column !important;
 
  }
  .content-right-text {
    margin-left: 0px !important;
    margin-top: 50px;
  }
  .searchbox {
    border: 1px solid lightgray;
    padding: 8px 15px !important;
  }
  .mglass {
    font-size: 28px;
  }
  .smallsearchbtn:focus {
    border: 1px solid white !important;
  }
  .carousel-cell {
    width: 100% !important;
    margin-top: 150px;
  }
  .flickity-prev-next-button.next {
    display: none !important;
  }
  .flickity-prev-next-button .flickity-button-icon {
    display: none !important;
  }
  .flickity-prev-next-button.previous {
    display: none !important;
  }
  .flickity-page-dots{
  bottom: 30px !important;
}
  .smallsearchNone {
    display: none !important;
  }
  .smallsearchblock {
    display: block !important;
    flex-direction: row !important;
  }
  .searchbox {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 8px 15px !important;
    margin-right: 0px !important;
  }
  .searchbox:focus {
    box-shadow: none !important ;
    outline: none;
  }
  .pad {
    padding-top: 20px !important;
  }
  .images {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .smallcenter {
    text-align: center !important;
  }
  .largenoneslider {
    display: block !important;
  }
  .section3content {
    flex-direction: column !important;
  }
  .navbarlogo {
    width: 120px;
    height: auto;
  }
  .smallscreennone {
    display: none !important;
  }
  .forlargescreennone {
    display: block !important;
  }
  .section3 {
    margin-top: -25px !important;
  
  }

    .play-pause-button {
  bottom: 0% !important;
  font-size: 18px !important;
}
  #textpad {
    padding-top: 100px !important;
   
  }
  .content-left-head {
    font-size: 22px !important;
    line-height: 24px !important;
    margin-bottom: 10px !important;
    letter-spacing: 0.02em !important;
     text-align: left !important;
    /* padding: 120px !important; */
  }
  .content-left-text {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
     text-align: left !important;
     color: rgba(58, 58, 58, 1);
  }
  #imagepad {
    padding-top: 18px;
  }
  .forsmallblock {
    display: block !important;
    /* margin-bottom: -170px !important; */
  }
  .content-right-text-head {
    font-size: 22px !important;
    line-height: 24px !important;
    margin-bottom: 10px !important;
    letter-spacing: 0.02em !important;
    padding-top: 120px !important;
    margin-bottom: -170px !important;
    padding: 10px;
    font-weight: 700 !important;
    color: #000000;
  }
  .section3half{
    margin-top: 40px !important;
  }
  .content-right-text-text1 {
    padding-top: 0px !important;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 22px !important;
    letter-spacing: 0.02em;
  }
  .content-right-text-small {
    font-size: 14px !important;
    font-weight: 400;
    line-height: 17px !important;
    letter-spacing: 0.02em;
  }
  .buttons {
    padding-top: 50px;
  }

  .contect-right-para {
    display: none !important;
  }
  .button1 {
    margin-right: 8px !important;
  }
  .forscreensmallnone {
    display: none !important;
  }
  .forscreenlargeblock {
    display: block !important;
  }
  .section4-image-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-align: center !important;
    color: rgba(255, 255, 255, 1) !important;
    padding: 10px !important;
    
  }
  .breaklinenone{
    display: none !important;
  }

  .card-body{
    padding: 0px !important;
     display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .forcenter{
    text-align: center;
  }

  .section4-image-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center !important;
    margin-left: 0px !important;
    /* margin: 70px !important; */
  }
  .padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .section4-image-text1 {
    font-size: 24px !important;
    font-weight: 400;
    line-height: 29px !important;
    letter-spacing: 0.02em;
  }
  .screensmallbreaklinenone {
    display: none !important;
  }
  .padsmall {
    padding: 64px !important;
  }
  .padsmalllink {
    margin: 64px !important;
  }
  .marginlink {
    margin: 90px !important;
  }
  .paddingnonesmall {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .card {
    border-radius: 0px !important;
   
  }

  .image {
    height: 200px;
  }
  .section4image1 {
    height: 200px;
  }
  .section4image2 {
    height: 200px;
  }
  .section4image3 {
    height: 200px;
  }
  .foodslider {
    width: 66.66% !important;
    margin-right: 10px;
    height: 300px !important;
  }
  .section5-head {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 170px;
    margin-bottom: -120px;
  }
  #footer {
    background: url(../img/footersmall.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .footer-row {
    padding-top: 70px !important;
    padding-bottom: 20px;
  }
  .footer-logo {
    width: 232px !important;
  }
  .footerlogomd {
    text-align: center;
  }
  .forsmallblockform {
    display: block !important;
  }
  .forlargenoneform {
    display: none !important;
  }
  #footer-form {
    display: none;
  }

  #footer-form-small {
    /* This bit sets up the horizontal layout */
    display: flex;
    flex-direction: row;
    /* This bit draws the box around it */
    /* I've used padding so you can see the edges of the elements. */
    padding: 1px;
    border-radius: 2px;
  }

  .form-control {
    /* Tell the input to use all the available space */
    flex-grow: 2;
    /* And hide the input's outline, so the form looks like the outline */
    background-color: transparent;
    padding: 15px 0px 15px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }

  /* remove the input focus blue box, it will be in the wrong place. */
  .form-control:focus {
    outline: none;
    box-shadow: none;
    background-color: transparent;
  }



  .subscrbebtn {
    /* Just a little styling to make it pretty */
    border: none;
    background-color: rgba(0, 174, 239, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.02em;
    padding: 18px auto !important;
    border: 1px solid rgba(0, 174, 239, 1);
    border-radius: 2px;
  }
  .subscrbebtn:hover {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .middle-col {
    padding-left: 25px !important;
    margin-top: 50px;
  }
  .about-us {
    margin-top: 50px !important;
  }
  .middle-col2 {
    padding-left: 24px !important;
  }
  .hrforsmall {
    display: block !important;
    color: rgba(0, 0, 0, 0.2);
  }
  .footer-bottom-text {
    padding-top: 10px !important;
    padding-right: 0px !important;
    padding-bottom: 20px !important;
  }
  .sliderfirstimage {
    height: 285px !important;
  }
  .hero-video {
    height: unset !important;
    overflow: unset;
  }
  .nestedlink {
    padding-left: 20px;
    color: rgba(0, 0, 0, 1);
  }
  .navbarIcons {
    display: block !important;
  }
  .navbardropdowntext {
    font-size: 10px !important;
    padding-bottom: 0px !important;
    color: rgba(0, 0, 0, 1) !important;
  }
  .navbarsmall {
    padding: 15px 15px !important;
  }
  .dropdown-menu {
    box-shadow: none !important;
    border: none !important;
  }
  .nestedlink {
    color: rgba(0, 0, 0, 1) !important;
   
  }
  .nestedlink:hover {
    color: grey !important;
  }
  .SocialIcons{
    margin-top: 50px;
  }
    .buttons1 {
    padding-top: 20px;
  }
   .quick-links-top{
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
  .icons-nav{
    background-color: #000000;
    color: white;
    text-align: center;
    width: 23px;
    margin-bottom: 0px;
    border-radius: 2px;
  }
  .icons-nav:hover{
    background-color: #00aeef;
  }
  .form-control:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  color:#000000 ;
}
.moreInfobtn1{
  font-size: 16px !important;
}
.buybtn{
  font-size: 16px !important;
}
.slider-bottom-text{
  margin-top: 30px;
}
 svg {
    width: 30px !important;
    height: 30px !important;
}
  
}

@media (min-width: 320.98px) and (max-width: 375.98px) {
   .quick-links{
    color: rgba(0, 0, 0, 1);
  }
   .bottomslider{
    padding-top: 0px !important;
  }
   .footer-text {
    color: rgba(0, 0, 0, 1) !important;
  }
  .a-color {
    color: rgba(0, 0, 0, 1) !important;
  }
  .navbarlink {
    color: rgba(0, 0, 0, 1) !important;
    padding-bottom: 20px;
  }
  .sliderandtext {
    padding-top: 0px !important;
    flex-direction: column !important;
  
  }
  .content-right-text {
    margin-left: 0px !important;
    margin-top: 50px;
  }
  .searchbox {
    border: 1px solid lightgray;
    padding: 8px 15px !important;
  }
  .mglass {
    font-size: 28px;
  }
  .smallsearchbtn:focus {
    border: 1px solid white !important;
  }
  .carousel-cell {
    width: 100% !important;
    margin-top: 150px;
  }
  .flickity-prev-next-button.next {
    display: none !important;
  }
  .flickity-prev-next-button .flickity-button-icon {
    display: none !important;
  }
  .flickity-prev-next-button.previous {
    display: none !important;
  }
  .flickity-page-dots{
  bottom: -15px !important;
}
.slider-bottom-text{
  margin-top: 80px;
}
  .smallsearchNone {
    display: none !important;
  }
  .smallsearchblock {
    display: block !important;
    flex-direction: row !important;
  }
  .searchbox {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 8px 15px !important;
    margin-right: 0px !important;
  }
  .searchbox:focus {
    box-shadow: none !important ;
    outline: none;
  }
  .pad {
    padding-top: 20px !important;
  }
  .images {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .smallcenter {
    text-align: center !important;
  }
  .largenoneslider {
    display: block !important;
  }
  .section3content {
    flex-direction: column !important;
  }
  .navbarlogo {
    width: 120px;
    height: auto;
  }
  .smallscreennone {
    display: none !important;
  }
  .forlargescreennone {
    display: block !important;
  }
  .section3 {
    margin-top: -30px !important;
   
  }
 
    .play-pause-button {
  bottom: 3% !important;
  font-size: 22px !important;
}
  #textpad {
    padding-top: 100px !important;
   
  }
  .content-left-head {
    font-size: 24px !important;
    line-height: 24px !important;
    margin-bottom: 10px !important;
    letter-spacing: 0.02em !important;
     text-align: left !important;
    /* padding: 120px !important; */
  }
  .content-left-text {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
     text-align: left !important;
     color: rgba(58, 58, 58, 1);
  }
  #imagepad {
    padding-top: 18px;
  }
  .forsmallblock {
    display: block !important;
    /* margin-bottom: -170px !important; */
  }
  .content-right-text-head {
    font-size: 24px !important;
    line-height: 24px !important;
    margin-bottom: 10px !important;
    letter-spacing: 0.02em !important;
    padding-top: 120px !important;
    margin-bottom: -170px !important;
    padding: 10px;
    font-weight: 700 !important;
  }
  .section3half{
    margin-top: 40px !important;
  }
  .content-right-text-text1 {
    padding-top: 0px !important;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 22px !important;
    letter-spacing: 0.02em;
  }
  .content-right-text-small {
    font-size: 14px !important;
    font-weight: 400;
    line-height: 17px !important;
    letter-spacing: 0.02em;
  }
  .buttons {
    padding-top: 50px;
  }

  .contect-right-para {
    display: none !important;
  }
  .button1 {
    margin-right: 8px !important;
  }
  .forscreensmallnone {
    display: none !important;
  }
  .forscreenlargeblock {
    display: block !important;
  }

  /* .image {
    height: auto !important;
  } */
  .section4-image-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-align: center !important;
    color: rgba(255, 255, 255, 1) !important;
    padding: 10px !important;
    
  }
  .breaklinenone{
    display: none !important;
  }
 
  .card-body{
    padding: 0px !important;
     display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .forcenter{
    text-align: center;
  }

  .section4-image-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center !important;
    margin-left: 0px !important;
    /* margin: 70px !important; */
  }
  .padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .section4-image-text1 {
    font-size: 24px !important;
    font-weight: 400;
    line-height: 29px !important;
    letter-spacing: 0.02em;
  }
  .screensmallbreaklinenone {
    display: none !important;
  }
  .padsmall {
    padding: 64px !important;
  }
  .padsmalllink {
    margin: 64px !important;
  }
  .marginlink {
    margin: 90px !important;
  }
  .paddingnonesmall {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .card {
    border-radius: 0px !important;
   
  }

  .image {
    height: 200px;
  }
  .section4image1 {
    height: 200px;
  }
  .section4image2 {
    height: 200px;
  }
  .section4image3 {
    height: 200px;
  }
  .foodslider {
    width: 66.66% !important;
    margin-right: 10px;
    height: 300px !important;
  }
  .section5-head {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 170px;
    margin-bottom: -120px;
  }
  #footer {
    background: url(../img/footersmall.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .footer-row {
    padding-top: 70px !important;
    padding-bottom: 20px;
  }
  .footer-logo {
    width: 232px !important;
  }
  .footerlogomd {
    text-align: center;
  }
  .forsmallblockform {
    display: block !important;
  }
  .forlargenoneform {
    display: none !important;
  }
  #footer-form {
    display: none;
  }

  #footer-form-small {
    /* This bit sets up the horizontal layout */
    display: flex;
    flex-direction: row;
    /* This bit draws the box around it */
    /* I've used padding so you can see the edges of the elements. */
    padding: 1px;
    border-radius: 2px;
  }
  .form-control {
    /* Tell the input to use all the available space */
    flex-grow: 2;
    /* And hide the input's outline, so the form looks like the outline */
    background-color: transparent;
    padding: 15px 0px 15px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }

  /* remove the input focus blue box, it will be in the wrong place. */
  .form-control:focus {
    outline: none;
    box-shadow: none;
    background-color: transparent;
  }

  .subscrbebtn {
    /* Just a little styling to make it pretty */
    border: none;
    background-color: rgba(0, 174, 239, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.02em;
    padding: 18px auto !important;
    border: 1px solid rgba(0, 174, 239, 1);
    border-radius: 2px;
  }
  .subscrbebtn:hover {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .middle-col {
    padding-left: 25px !important;
    margin-top: 50px;
  }
  .about-us {
    margin-top: 50px !important;
  }
  .middle-col2 {
    padding-left: 24px !important;
  }
  .hrforsmall {
    display: block !important;
    color: rgba(0, 0, 0, 0.2);
  }
  .footer-bottom-text {
    padding-top: 10px !important;
    padding-right: 0px !important;
    padding-bottom: 20px !important;
  }
  .sliderfirstimage {
    height: 285px !important;
  }
  .hero-video {
    height: unset !important;
    overflow: unset;
  }
  .nestedlink {
    padding-left: 20px;
    color: rgba(0, 0, 0, 1);
  }
  .navbarIcons {
    display: block !important;
  }
  .navbardropdowntext {
    font-size: 10px !important;
    padding-bottom: 0px !important;
    color: rgba(0, 0, 0, 1) !important;
  }
  .navbarsmall {
    padding: 15px 15px !important;
  }
  .dropdown-menu {
    box-shadow: none !important;
    border: none !important;
  }
  .nestedlink {
    color: rgba(0, 0, 0, 1) !important;
   
  }
  .nestedlink:hover {
    color: grey !important;
  }
  .SocialIcons{
    margin-top: 50px;
  }
    .buttons1 {
    padding-top: 20px;
  }
   .quick-links-top{
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
  .icons-nav{
    background-color: #000000;
    color: white;
    text-align: center;
    width: 23px;
    margin-bottom: 0px;
    border-radius: 2px;
  }
  .icons-nav:hover{
    background-color: #00aeef;
  }
  .form-control:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  color:#000000 ;
}
.moreInfobtn1{
  font-size: 16px !important;
}
.buybtn{
  font-size: 16px !important;
}

 svg {
    width: 30px !important;
    height: 30px !important;
}
  
}
@media (min-width: 375.98px) and (max-width: 425.98px) {
  svg {
    width: 30px !important;
    height: 30px !important;
}
   .quick-links{
    color: rgba(0, 0, 0, 1);
  }
  .bottomslider{
    padding-top: 0px !important;
  }
  .footer-text {
    color: rgba(0, 0, 0, 1) !important;
  }
  .a-color {
    color: rgba(0, 0, 0, 1) !important;
  }
  .navbarlink {
    color: rgba(0, 0, 0, 1) !important;
    padding-bottom: 20px;
  }
  .sliderandtext {
    padding-top: 0px !important;
    flex-direction: column !important;
   
  }
  .content-right-text {
    margin-left: 0px !important;
    margin-top: 50px;
  }
  .searchbox {
    border: 1px solid lightgray;
    padding: 8px 15px !important;
  }
  .mglass {
    font-size: 28px;
  }
  .smallsearchbtn:focus {
    border: 1px solid white !important;
  }
  .carousel-cell {
    width: 100% !important;
    margin-top: 150px;
  }
  .flickity-prev-next-button.next {
    display: none !important;
  }
  .flickity-prev-next-button .flickity-button-icon {
    display: none !important;
  }
  .flickity-prev-next-button.previous {
    display: none !important;
  }
  .flickity-page-dots{
  bottom: -30px !important;
}
  .smallsearchNone {
    display: none !important;
  }
  .smallsearchblock {
    display: block !important;
    flex-direction: row !important;
  }
  .searchbox {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 8px 15px !important;
    margin-right: 0px !important;
  }
  .searchbox:focus {
    box-shadow: none !important ;
    outline: none;
  }
  .pad {
    padding-top: 20px !important;
  }
  .images {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .smallcenter {
    text-align: center !important;
  }
  .largenoneslider {
    display: block !important;
  }
  .section3content {
    flex-direction: column !important;
  }
  .navbarlogo {
    width: 120px;
    height: auto;
  }
  .smallscreennone {
    display: none !important;
  }
  .forlargescreennone {
    display: block !important;
  }
  .section3 {
    margin-top: -40px !important;
   
  }

  .play-pause-button {
  bottom: 5% !important;
  font-size: 22px !important;
}
  #textpad {
    padding-top: 100px !important;
   
  }
  .content-left-head {
    font-size: 24px !important;
    line-height: 28px !important;
    margin-bottom: 10px !important;
    letter-spacing: 0.02em !important;
     text-align: left !important;
    /* padding: 120px !important; */
  }
  .content-left-text {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
     text-align: left !important;
     color: rgba(58, 58, 58, 1);
  }
  #imagepad {
    padding-top: 18px;
  }
  .forsmallblock {
    display: block !important;
    /* margin-bottom: -170px !important; */
  }
  .content-right-text-head {
    font-size: 24px !important;
    line-height: 24px !important;
    margin-bottom: 10px !important;
    letter-spacing: 0.02em !important;
    padding-top: 120px !important;
    margin-bottom: -170px !important;
    padding: 10px;
    font-weight: 700 !important;
    color: #000000;
  }
  .section3half{
    margin-top: 40px !important;
  }
  .content-right-text-text1 {
    padding-top: 0px !important;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 22px !important;
    letter-spacing: 0.02em;
  }
  .content-right-text-small {
    font-size: 14px !important;
    font-weight: 400;
    line-height: 17px !important;
    letter-spacing: 0.02em;
  }
  .buttons {
    padding-top: 50px;
  }

  .contect-right-para {
    display: none !important;
  }
  .button1 {
    margin-right: 8px !important;
  }
  .forscreensmallnone {
    display: none !important;
  }
  .forscreenlargeblock {
    display: block !important;
  }


  .section4-image-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-align: center !important;
    color: rgba(255, 255, 255, 1) !important;
    padding: 10px !important;
    
  }
  .breaklinenone{
    display: none !important;
  }

  .card-body{
    padding: 0px !important;
     display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .forcenter{
    text-align: center;
  }

  .section4-image-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center !important;
    margin-left: 0px !important;
    /* margin: 70px !important; */
  }
  .padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .section4-image-text1 {
    font-size: 24px !important;
    font-weight: 400;
    line-height: 29px !important;
    letter-spacing: 0.02em;
  }
  .screensmallbreaklinenone {
    display: none !important;
  }
  .padsmall {
    padding: 64px !important;
  }
  .padsmalllink {
    margin: 64px !important;
  }
  .marginlink {
    margin: 90px !important;
  }
  .paddingnonesmall {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .card {
    border-radius: 0px !important;
   
  }
 
  .image {
    height: 200px;
  }
  .section4image1 {
    height: 200px;
  }
  .section4image2 {
    height: 200px;
  }
  .section4image3 {
    height: 200px;
  }
  .foodslider {
    width: 66.66% !important;
    margin-right: 10px;
    height: 300px !important;
  }
  .section5-head {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 170px;
    margin-bottom: -120px;
  }
  #footer {
    background: url(../img/footersmall.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .footer-row {
    padding-top: 70px !important;
    padding-bottom: 20px;
  }
  .footer-logo {
    width: 232px !important;
  }
  .footerlogomd {
    text-align: center;
  }
  .forsmallblockform {
    display: block !important;
  }
  .forlargenoneform {
    display: none !important;
  }
  #footer-form {
    display: none;
  }

  #footer-form-small {
    /* This bit sets up the horizontal layout */
    display: flex;
    flex-direction: row;
    /* This bit draws the box around it */

    /* I've used padding so you can see the edges of the elements. */
    padding: 1px;
    border-radius: 2px;
  }

  .form-control {
    /* Tell the input to use all the available space */
    flex-grow: 2;
    /* And hide the input's outline, so the form looks like the outline */
    background-color: transparent;
    padding: 15px 0px 15px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }

  /* remove the input focus blue box, it will be in the wrong place. */
  .form-control:focus {
    outline: none;
    box-shadow: none;
    background-color: transparent;
  }


  .subscrbebtn {
    /* Just a little styling to make it pretty */
    border: none;
    background-color: rgba(0, 174, 239, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.02em;
    padding: 18px auto !important;
    border: 1px solid rgba(0, 174, 239, 1);
    border-radius: 2px;
  }
  .subscrbebtn:hover {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .middle-col {
    padding-left: 25px !important;
    margin-top: 50px;
  }
  .about-us {
    margin-top: 50px !important;
  }
  .middle-col2 {
    padding-left: 24px !important;
  }
  .hrforsmall {
    display: block !important;
    color: rgba(0, 0, 0, 0.2);
  }
  .footer-bottom-text {
    padding-top: 10px !important;
    padding-right: 0px !important;
    padding-bottom: 20px !important;
  }
  /* .sliderfirstimage {
    height: 285px !important;
  } */
  .hero-video {
    height: unset !important;
    overflow: unset;
  }
  .nestedlink {
    padding-left: 30px;
    color: rgba(0, 0, 0, 1);
  }
  .navbarIcons {
    display: block !important;
  }
  .navbardropdowntext {
    font-size: 10px !important;
    padding-bottom: 0px !important;
    color: rgba(0, 0, 0, 1) !important;
  }
  .navbarsmall {
    padding: 15px 15px !important;
  }
  .dropdown-menu {
    box-shadow: none !important;
    border: none !important;
  }
  .nestedlink {
    color: rgba(0, 0, 0, 1) !important;
   
  }
  .nestedlink:hover {
    color: grey !important;
  }
  .SocialIcons{
    margin-top: 50px;
  }
    .buttons1 {
    padding-top: 20px;
  }
   .quick-links-top{
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
  .icons-nav{
    background-color: #000000;
    color: white;
    text-align: center;
    width: 23px;
    margin-bottom: 0px;
    border-radius: 2px;
  }
  .icons-nav:hover{
    background-color: #00aeef;
  }
  .form-control:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  color:#000000 ;
}
.moreInfobtn1{
  font-size: 16px !important;
}
.buybtn{
  font-size: 16px !important;
}


  
}
@media (min-width: 425.98px) and (max-width: 991.98px) {
  #footer-form{
    margin-top: 0px;
    
  }
  .footer-form-small{
    display: block !important;
  }
  .footer-text{
    color: rgba(255, 255, 255, 1);
  }
  .footer-row{
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .about-us{
    padding-top: 70px;
  }
  .SocialIcons{
    padding-top: 70px ;
    margin-top: 0px;
  }
  .navbarIcons {
    display: block !important;
  }
  .navbarlink {
    color: rgba(0, 0, 0, 1) !important;
    padding-bottom: 20px;
  }
  .sliderandtext {
    padding-top: 250px !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .content-right-text {
    margin-left: 0px !important;
    margin-top: 50px;
  }
  .searchbox {
    border: 1px solid lightgray;
    padding: 8px 15px !important;
  }
  .mglass {
    font-size: 28px;
  }
  .smallsearchbtn:focus {
    border: 1px solid transparent !important;
  }

  .middle-col {
    padding-top: 80px;
    padding-left: 0px !important;
  }
  .middle-col2 {
    padding-top: 80px;
  }
  
  .dropdowntwoimages {
    justify-content: left !important;
  }
  .image13 {
    padding-left: 50px !important;
  }
  .image-bottom {
    font-size: 16px;
  }
  .image-bottom-no {
    font-size: 12px;
  }

  .content-right-text-text1 {
    padding-top: 0px !important;
  }
  .buttons {
    padding-top: 50px !important;
  }

  .forslider2headnoneinsamll {
    display: block !important;
  }
  .hero-video {
    height: unset !important;
    overflow: unset;
  }
  .smallsearchblock {
    display: block !important;
    flex-direction: row !important;
  }
  .searchbox {
    border: none;
    border-bottom: 1px solid lightgray !important;
    padding: 8px 15px !important;
    margin-right: 0px !important;
  }
  .searchbox:focus {
    box-shadow: none !important ;
    outline: none;
  }
  .nestedlink {
    padding-left: 20px;
  }
  .formidblock {
    display: block !important;
  }

  .formdnone {
    display: none !important;
  }
  .forMidscreenNone {
    display: none !important;
  }
  
  .section5slider {
    margin-top: 150px !important;
  }

  .foodslider {
    width: 66.66% !important;
    margin-right: 10px;
    height: auto !important;
  }
  .flickity-prev-next-button.next {
    display: none !important;
  }
  .flickity-prev-next-button .flickity-button-icon {
    display: none !important;
  }
  .flickity-prev-next-button.previous {
    display: none !important;
  }
  .dropdown-menu {
    box-shadow: none !important;
    border: none !important;
  }

  .nestedlink {
    color: rgba(0, 0, 0, 1) !important;
   
  }
  .nestedlink:hover {
    color: grey !important;
  }
  .section3 {
  margin-top: -55px;
}
.play-pause-button {
  bottom: 8% !important;
}
  .content-left-head{
    font-size: 38px;
  }
  .section5-head{
    font-size: 38px;
    margin-bottom: 0px;
  }
  .image {
    height: 300px;
  }
  .section4image1 {
    height: 300px;
  }
  .section4image2 {
    height: 300px;
  }
  .section4image3 {
    height: 300px;
  }
  
  .quick-links-top{
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
  .icons-nav{
    background-color: #000000;
    color: white;
    text-align: center;
    width: 23px;
    margin-bottom: 0px;
    border-radius: 2px;
  }
  .icons-nav:hover{
    background-color: #00aeef;
  }



  
}
@media (min-width: 992.98px) and (max-width: 1200.98px) {
  .overlay{
    height: 58% !important;
  }
  .content-right-text {
    margin-left: 0px !important;
    margin-top: 50px;
  }
  .forlargenone {
    display: none !important;
  }
  .card-body {
    padding: 40px 2px 70px 5px !important;
  }

  .footer-text {
    padding-right: 0px !important;
  }
  .footer-bottom-text {
    padding-top: 150px !important;
    padding-right: 0px !important;
  }
  .dropdowntwoimages {
    justify-content: left !important;
  }
  .image13 {
    padding-left: 50px !important;
  }
  .content-right-text-head {
    padding-top: 10px !important;
  }
  .hero-video {
    height: unset !important;
    overflow: unset;
  }
  .section3 {
  margin-top: -70px;
}
.play-pause-button {
  bottom: 10% !important;
}


}

@media (min-width: 1200.98px) and (max-width: 1440.98px) {
  .onlyForLargeBlock {
    display: block !important;
  }
  /* .slider-container {
    width: 600px !important;
    margin-left: 50px;
  } */
  .hero-video {
    height: unset !important;
    overflow: unset;
  }
  .forlargenone {
    display: none !important;
  }
  .section3 {
  margin-top: -160px;

}
.play-pause-button {
  bottom: 18% !important;
}



}


.buybtn {
  padding: 15px 52px;
  border-radius: 2px;
  border: 1px solid #00aeef;
  background-color: #00aeef;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #000000;
}
.buybtn:hover {
  border: 1px solid #00aeef;
  color: #00aeef;
  background-color: white;
}

.moreInfobtn1 {
  padding: 15px 50px;
  border-radius: 2px;
  border: 1px solid #00aeef;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #00aeef;
  text-align: center;

}
.moreInfobtn1:hover {
  color: #000000;
  border: 1px solid #00aeef;
  background-color: #00aeef;
} 

.dropdown-item {
  color: rgba(0, 0, 0, 0.55);
}
.navbarlink {
  color: rgba(0, 0, 0, 1) !important;
  cursor:  pointer;
}
.navbarlink:hover {
  color: grey !important;
}
.navbarlinknested{
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.navbarlinknested:hover{
  color: rgba(255, 255, 255, 1);
  background-color: #000000;
  cursor: pointer;
}

.nestedlink {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.nestedlink:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #000000;
  cursor: pointer;
}

.dropdown-menu {
  border-radius: 2px !important;
}

.dropdown-submenu {
  display: none;
}

.dropdownParent:hover .dropdown-submenu {
  display: block;
  position: absolute;
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0;
  cursor: pointer;
}

.onHover:hover .submenu {
  display: block;
  cursor: pointer;
}

.video-container {
  position: relative;
  height: 95vh;
  overflow: hidden;
}

.play-pause-button {
  position: absolute;
  bottom: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  /* border-radius: 50%; */
  padding: 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  /* border: 4px solid rgba(255, 255, 255, 1); */
  /* font-size: 30px; */
}
.play-pause-button:focus{
  border: none;
  outline: none;
}
/* .cardposition{
 
} */
.card-image{
  position: relative !important;

}
.overlay{
  position: absolute !important;
  top:0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78%;
  background-color: rgba(255, 255, 255, 0.7);
 opacity: 0;
 transition: .3s;
}

.overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.buybtnoverlay {
  padding: 11px 53px 11px 52px;
  border-radius: 2px;
  border: 1px solid #00aeef;
  background-color: #00aeef;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: center;
}
.buybtnoverlay:hover {
  border: 1px solid #00aeef;
  color: #000000;
  background-color: white;
}

.moreInfobtnoverlay {
  padding: 10px 50px !important;
  border-radius: 2px;
  border: 1px solid #00aeef;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
  text-align: center;
}
.moreInfobtnoverlay:hover {
  color: #000000;
  border: 1px solid #00aeef;
  background-color: #00aeef;
} 
svg{
  fill: white ;
   width: 40px ;
  height: 40px ;
}
